{{#> layout }}
<section class="hero is-fullheight">
	<!-- Hero head: will stick at the top -->
	<div class="hero-head has-cs-bg">
		<nav class="navbar">
			<div class="container">
				<div class="navbar-brand">
					<a class="navbar-item">
						<!-- put logo here -->
					</a>
					<div class="navbar-item">
						<img class="logo" src="./logo_cz.svg" />
					</div>
				</div>
			</div>
		</nav>
	</div>

	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="columns has-iframe">
			<div class="column has-gray-bg">
				<div class="top-frame">
					<div class="bg"></div>
					<div class="content">
						<h1>
							Page not found
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{/layout}}